<% if user_signed_in? %>

<div class="hero-unit">
<p><h1>Hello Shark Finder</h1></p>
</div>

<% else %>

<div class="hero-unit">
  
	<h1>Welcome to SharkSpotter</h1>

	<p>
		Learn where sharks attack all across the planet. 
	</p>

	<p> 
		 <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>


</div>

<% end %>