<div class="hero-unit">
  
	<h1>Welcome to Sample App!</h1>

	<p>
		You found the home page for the sample app. Now check out: 
		<%= link_to "Google", "http://www.google.com" %>
	</p>

	<p> 
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>


</div>

